<div class="hero">
  <div class="hero__container">
    <div class="hero__background-image"></div>
    <div class="hero__overlay"></div>
    <div class="container">
      <div class="hero__content">
        <div class="hero__title"> Tamil Nadu Future Technology Hub </div>
        <div class="hero__description"> Lorem ipsum dolor sit amet consectetur. Massa ultricies ultrices sed non est in. Ipsum semper fames enim nec est lobortis mus. Vitae amet sagittis a aliquam. Sed quis sollicitudin rhoncus erat. </div>
        <button class="hero__action">
          Lorem ipsume
          <img src="/assets/icons/right.svg" alt="Right" class="hero__action__icon" />
        </button>
      </div>
    </div>
  </div>
</div>
