<div class="what-we-do">
  <div class="container">
    <div class="what-we-do__container">
      <div class="what-we-do__content">
        <div class="what-we-do__content__sub-title"> Timeline </div>
        <div class="what-we-do__content__title"> Your Journey with TNFTH: From Start to Success </div>
        <div class="what-we-do__content__description"> Accessing our services is a transformative journey designed to maximize your potential: </div>
        <div class="what-we-do__timeline">
          @for (item of timelineData; track item.title; let i = $index) {
            <div class="what-we-do__timeline-item" [style.animationDelay]="i * 2 + 's'">
              <div class="content-box">
                <div class="icon">
                  <img [src]="item.icon" alt="Icon" />
                </div>
                <div class="text-box">
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="what-we-do__img-container">
        <img src="/assets/images/timeline.jpg" alt="home about" />
      </div>
    </div>
  </div>
</div>
