<div class="about-why">
  <div class="container">
    <div class="about-why__container">
      <div class="about-why__content" id="content-section">
        <div class="about-why__content__title"> Why TNFTH? </div>
        <ul class="about-why__card-container">
          @for (lab of data; track lab.title) {
            <li class="about-why__card">
              <div class="about-why__card__title"> {{ lab.title }} </div>
              <div class="about-why__card__description"> {{ lab.description }} </div>
            </li>
          }
        </ul>
      </div>
      <div class="about-why__video" id="image-section">
        
      </div>
    </div>
  </div>
</div>
