<div class="labs">
  <div class="container">
    <div class="labs__container">
      <div class="labs__title"> SERVICES </div>
    </div>
  </div>
  <div class="labs__card" (mouseover)="pause()" (mouseleave)="startInfiniteLoop()">
    <div class="labs__card__wrapper" [style.transform]="'translateX(-' + scrollPosition + 'px)'">
      @for (lab of labs; track lab.id) {
        <div class="labs__card__container">
          <div class="labs__card__background-image" [style.backgroundImage]="'url(' + lab.backgroundImg + ')'"></div>
          <div class="labs__card__overlay"></div>
          <div class="labs__card__copy">
            <div class="labs__card__content">
              <img [src]="lab.icon" alt="Icon" width="60" height="60" />
              <div class="labs__card__title"> {{ lab.title }} </div>
              <div class="labs__card__description"> {{ lab.description }} </div>
            </div>
            <button class="labs__card__action" (click)="handleRedirectMenu(lab.url)"> Learn more </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
