.banner {
  margin: 60px 0;
  &__content {
    background: url('/assets/images/home-page-banner.jpeg');
    height: 384px;
    border-radius: 20px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0 15%;
    &__title {
      font-size: 48px;
      line-height: 57px;
      color: #fff;
      text-align: center;
    }
    &__cta {
      border: none;
      border-radius: 4px;
      width: 167px;
      height: 51px;
      cursor: pointer;
    }
  }
}
