<div class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content" id="content-section">
        <div class="about__content__title"> Introduction </div>
        <div class="about__content__description">
          Welcome to TNFTH, a hub of innovation, education, and collaboration. The Tamil Nadu Future Technology Hub (TNFTH) is a groundbreaking Public-Private Partnership (PPP) initiative spearheaded by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in collaboration with A2000 Solutions Private Limited, Singapore. TNFTH is dedicated to empowering candidates and SMEs through experience-based learning, direct access to cutting-edge technologies, and fostering innovation and research. By integrating start-up support ecosystems, incubation centers, and international university collaborations, TNFTH creates a holistic platform for education, entrepreneurship, and technological advancement.
        </div>
      </div>
      <div class="about__img-container" id="image-section">
        <img src="/assets/images/home-about.jpeg" alt="home about" />
      </div>
    </div>
  </div>
</div>
