<div class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content" id="content-section">
        <div class="about__content__sub-title"> Lorem </div>
        <div class="about__content__title"> Introduction </div>
        <div class="about__content__description">
          <div>
            The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
            A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. 
          </div>
          <div>
            The hub will feature start-up support ecosystems, incubation centres, and international university collaborations, creating a comprehensive ecosystem for learning opportunities, research, entrepreneurship and technology development.
          </div>
        </div>
        <button class="about__content__action"> Learn more </button>
      </div>
      <div class="about__video" id="image-section">
        
      </div>
    </div>
  </div>
</div>
