<div class="about-home">
  <div class="container">
    <div class="about-home__container">
      <div class="about-home__content">
        <div class="about-home__content__sub-title"> KNOW ABOUT US </div>
        <div class="about-home__content__title"> Lorem ipsum dolor sit amet consectetur. Massa ultricies ultrices </div>
      </div>
      <div class="about-home__description-container">
        <div class="about-home__description-container__description1">
          The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
          A2000 Solutions Private Limited, Singapore.
        </div>
        <div class="about-home__description-container__description2">
          TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-vision-mission">
  <div class="container">
    <div class="about-vision-mission__container">
      <div class="about-vision-mission__content">
        <div class="about-vision-mission__content__sub-title"> OUR MISSION </div>
        <div class="about-vision-mission__content__title"> We make sure to provide inclusive care for children with special needs </div>
        <div class="about-vision-mission__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        </div>
      </div>
      <div class="about-vision-mission__content">
        <div class="about-vision-mission__content__sub-title"> OUR VISION </div>
        <div class="about-vision-mission__content__title"> Provide more inclusive care to children around the world </div>
        <div class="about-vision-mission__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        </div>
      </div>
    </div>
  </div>
</div>

