<div class="about-home">
  <div class="container">
    <div class="about-home__container">
      <div class="about-home__content">
        <div class="about-home__content__sub-title"> KNOW ABOUT US </div>
        <div class="about-home__content__title"> Who We Are </div>
      </div>
      <div class="about-home__description-container">
        <div class="about-home__description-container__description1">
          The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
          A2000 Solutions Private Limited, Singapore.
        </div>
        <div class="about-home__description-container__description2">
          TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-vision-mission">
  <div class="container">
    <div class="about-vision-mission__container">
      <div class="about-vision-mission__content">
        <div class="about-vision-mission__content__title"> Our Mission </div>
        <div class="about-vision-mission__content__description">
          At TNFTH, our mission is to empower individuals, startups, and SMEs with the knowledge, tools, and networks needed to thrive in a rapidly evolving technological landscape. By providing direct access to emerging technologies, hands-on experience, and expert guidance, we aim to build a community of innovators, entrepreneurs, and leaders shaping the future.
        </div>
      </div>
      <div class="about-vision-mission__content">
        <div class="about-vision-mission__content__title"> Our Vision </div>
        <div class="about-vision-mission__content__description">
          We envision a future where Tamil Nadu stands as a global leader in technology, innovation, and entrepreneurship. By fostering a culture of experimentation, collaboration, and problem-solving, TNFTH aims to create a sustainable ecosystem for technological advancement and economic growth.
        </div>
      </div>
    </div>
  </div>
</div>

