.about-home {
  padding: 75px 0;
  &__container {
    display: grid;
    grid-template-columns: 46% 44%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    gap: 10%;
    padding: 50px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__sub-title {
      letter-spacing: 2px;
      font-weight: 600;
    }
    &__title {
      font-size: 48px;
      line-height: 57px;
      font-weight: 700;
    }
  }
  &__description-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__description1 {
      font-weight: 500;
    }
  }
  &__img-container {
    img {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 20px;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 20px 0;
    }
    &__content {
      gap: 16px;
      &__title {
        font-size: 24px;
        line-height: 30px;
      }
      &__title::before {
        display: none;
      }
    }
  }
}

.about-vision-mission {
  padding: 75px 0;
  background: #0D4B7A;
  &__container {
    display: grid;
    grid-template-columns: 46% 44%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    gap: 10%;
    padding: 50px 0;
    color: #fff;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__sub-title {
      letter-spacing: 2px;
      font-weight: 600;
    }
    &__title {
      font-size: 28px;
      line-height: 42px;
      font-weight: 700;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 20px;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    &__content {
      gap: 16px;
      &__title {
        font-size: 24px;
        line-height: 30px;
      }
      &__title::before {
        display: none;
      }
    }
  }
}
