<div>
  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container2">
        <div class="services-modules__img-container">
          <img src="/assets/images/home-about.jpeg" alt="home about" />
        </div>
        <div>
          <div class="services-modules__title"> {{ data.contributions.title }} </div>
          <div class="services-modules__description"> {{ data.contributions.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.contributions.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container1">
        <div>
          <div class="services-modules__title"> {{ data.whatYouWillLearn.title }} </div>
          <div class="services-modules__description"> {{ data.whatYouWillLearn.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.whatYouWillLearn.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>  
        </div>
        <div class="services-modules__img-container">
          <img src="/assets/images/home-about.jpeg" alt="home about" />
        </div>
      </div>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container2">
        <div class="services-modules__img-container">
          <img src="/assets/images/home-about.jpeg" alt="home about" />
        </div>
        <div>
        <div class="services-modules__title"> {{ data.futureOpportunities.title }} </div>
          <div class="services-modules__description"> {{ data.futureOpportunities.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.futureOpportunities.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>
          <div class="services-modules__info"> {{ data.futureOpportunities.info }} </div>
        </div>
      </div>
    </div>
  </div>
</div>
