<div>
  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container2">
        <app-image-animation [photos]="data.contributions?.images" />
        <div>
          <div class="services-modules__title"> {{ data.contributions.title }} </div>
          <div class="services-modules__description"> {{ data.contributions.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.contributions.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container1">
        <div>
          <div class="services-modules__title"> {{ data.whatYouWillLearn.title }} </div>
          <div class="services-modules__description"> {{ data.whatYouWillLearn.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.whatYouWillLearn.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>  
        </div>
        <app-image-animation [photos]="data.whatYouWillLearn?.images" />
      </div>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__container2">
        <app-image-animation [photos]="data.futureOpportunities?.images" />
        <div>
        <div class="services-modules__title"> {{ data.futureOpportunities.title }} </div>
          <div class="services-modules__description"> {{ data.futureOpportunities.description }} </div>
          <ul class="services-modules__data">
            @for (content of data.futureOpportunities.data; track content.title) {
              <div class="services-modules__content">
                <li class="services-modules__content__title"> {{ content.title }} </li>
                <div class="services-modules__content__info"> {{ content.description }} </div>
              </div>
            }
          </ul>
          @if (data.futureOpportunities?.info) {
            <div class="services-modules__info"> {{ data.futureOpportunities.info }} </div>
          }
        </div>
      </div>
    </div>
  </div>
  @if (data?.photos?.length) {
    <app-photo-collage [photos]="data.photos" />
  }
</div>
