
.services-modules {
  padding: 50px 0;
  &__container {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
  }
  &__description {
    color: rgba(82, 85, 96, 1);
  }
  &__data {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
  }
  &__content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    &__title {
      font-weight: 600;
    }
    &__info {
      color: rgba(82, 85, 96, 1);
    }
  }
}
