<div>
  <div class="services-modules">
    <div class="container">
      <div class="services-modules__title"> What You'll Learn </div>
      <div class="services-modules__description"> The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. </div>
  
      <ul class="services-modules__data">
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__title"> What You'll Learn </div>
      <div class="services-modules__description"> The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. </div>
  
      <ul class="services-modules__data">
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="services-modules">
    <div class="container">
      <div class="services-modules__title"> What You'll Learn </div>
      <div class="services-modules__description"> The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. </div>
  
      <ul class="services-modules__data">
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
        <div class="services-modules__content">
          <li class="services-modules__content__title"> Leadership Culture and Change </li>
          <div class="services-modules__content__info">
            MCOR focuses on the critical role leaders play in shaping and influencing organisational culture and leading change initiatives. We explore leadership theories, the impact of leadership styles on change outcomes, and strategies for developing inclusive and adaptive leadership practices.
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
