<div class="header">
  <div class="header__container">
    <img ngSrc="/assets/images/logo.svg" alt="Logo" class="header__logo" priority width="60" height="60" />
    <div class="header__menu__container">
      @for (menu of menuOptions; track menu.url) {
        <div class="header__menu__option" [class.header__menu__active]="isActiveMenu(menu.url)" (click)="handleRedirectMenu(menu.url)"
          (mouseover)="handleShowMenuModal(menu.name)"
        > {{ menu.name }} </div>
      }
    </div>
  </div>
</div>

<div>
  @if (activeMenuDropdown === 'Services') {
    <div class="header__dropdown-modal" (mouseleave)="closeDropdownModal()">
      <div class="header__dropdown-modal__content">
        <div class="header__dropdown-modal__content-left">
          @for (menu of servicesMenuOptions; track menu.id; let i = $index) {
            <div class="header__dropdown-modal__content-left__title" (mouseover)="handleShowSubMenuOptions(menu.id)"> {{ i + 1 }} {{ menu.name }} </div>
          }
        </div>
        <div class="header__dropdown-modal__divider"></div>
        <div class="header__dropdown-modal__content-right">
          @if (activeSubMenuDropdown === 'emergingTech') {
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🌟</span> Artificial Intelligence
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🚀</span> Cyber Security
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">💧</span> Drone Technology
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🏠</span> Electric Vehicle Ecosystem
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🏠</span> 5G Technology
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🏠</span> ERP
            </div>
          }
          @if (activeSubMenuDropdown === 'corporate') {
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🌟</span> Corporate Gateway Lab
            </div>
            <div class="header__dropdown-modal__content-right__data">
              <span class="header__dropdown-modal__icon">🚀</span> Corporate Experience Center
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
