<div class="header">
  <div class="header__container">
    <img ngSrc="/assets/images/logo.svg" alt="Logo" class="header__logo" priority width="60" height="60" (click)="handleShowSubMenuOptions('')" />
    <div class="header__menu__container">
      @for (menu of menuOptions; track menu.id) {
        <div class="header__menu__option" [class.header__menu__active]="isActiveMenu(menu.url)" (click)="handleRedirectMenu(menu.url)"
          (mouseover)="handleShowMenuModal(menu.id)"
        > {{ menu.name }} </div>
      }
    </div>
  </div>
</div>

<div>
  @if (activeMenuDropdown === menuOptions[2].id) {
    <div class="header__dropdown-modal" (mouseleave)="closeDropdownModal()">
      <div class="header__dropdown-modal__content">
        <div class="header__dropdown-modal__content-left">
          @for (menu of servicesMenuOptions; track menu.id; let i = $index) {
            <div class="header__dropdown-modal__content-left__title" (mouseover)="handleShowSubMenuOptions(menu.id)" (click)="handleRedirectMenu(menu.url)">
              <span> {{ i + 1 }} </span> {{ menu.name }} </div>
          }
        </div>
        <div class="header__dropdown-modal__divider"></div>
        <div class="header__dropdown-modal__content-right">
          @if (activeSubMenuDropdown === servicesMenuOptions[0].id) {
            @for (menu of emergingTechMenuOptions; track menu.url) {
              <div class="header__dropdown-modal__content-right__data" (click)="handleRedirectMenu(menu.url)">
                <img [src]="menu.icon" class="header__dropdown-modal__icon" /> {{ menu.name }}
              </div>
            }
          }
          @if (activeSubMenuDropdown === servicesMenuOptions[1].id) {
            @for (menu of corporateMenuOptions; track menu.url) {
              <div class="header__dropdown-modal__content-right__data" (click)="handleRedirectMenu(menu.url)">
                <img [src]="menu.icon" class="header__dropdown-modal__icon" /> {{ menu.name }}
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</div>
