@if (isVisible) {
  <div class="service-enquiry-modal__overlay" [class.service-enquiry-modal__overlay__show]="isVisible"></div>
}

@if (isVisible) {
  <div class="service-enquiry-modal__container" [class.service-enquiry-modal__container__show]="isVisible">
    <div class="service-enquiry-modal__header">
      <div class="service-enquiry-modal__header__title"> Join Us Today! </div>
      <button class="service-enquiry-modal__header__close-button" (click)="closeModal()">×</button>
    </div>
    <div class="service-enquiry-modal__body">
      <div> Your journey toward an exciting career in technology starts here. Be part of TNFTH’s service program and transform your learning into action. Apply now! </div>
      <div class="service-enquiry-modal__fields-container">
        <div class="service-enquiry-modal__form-field">
          <label class="service-enquiry-modal__form-field__label" for="name"> Name </label>
          <input class="service-enquiry-modal__input" id="name" formControlName="name" type="text" placeholder="Name" />
        </div>
        <div class="service-enquiry-modal__form-field">
          <label class="service-enquiry-modal__form-field__label" for="email">Email Id</label>
          <input class="service-enquiry-modal__input" id="email" formControlName="email" type="email" placeholder="Ex: johndoe@gmail.com" />
        </div>
        <div class="service-enquiry-modal__form-field">
          <label class="service-enquiry-modal__form-field__label" for="mobileNumber"> Mobile number </label>
          <input class="service-enquiry-modal__input" id="mobileNumber" formControlName="mobileNumber" type="number" placeholder="Ex: 91xxxxxxxx" />
        </div>
        <div class="service-enquiry-modal__form-field">
          <label class="service-enquiry-modal__form-field__label" for="collegeName"> College Name </label>
          <input class="service-enquiry-modal__input" id="collegeName" formControlName="collegeName" type="collegeName" placeholder="Type the college name" />
        </div>
      </div>
    </div>
    <div class="service-enquiry-modal__footer">
      <div class="service-enquiry-modal__actions">
        <button class="service-enquiry-modal__action-secondary" (click)="closeModal()"> Cancel </button>
        <button class="service-enquiry-modal__action-primary" (click)="onConfirm()"> Enquiry </button>
      </div>
    </div>
  </div>
}
