<div class="about-banner">
  <div class="about-banner__header"> Introduction </div>
  <div class="container">
    <div class="about-banner__container">
      <div class="about-banner__content">
        <div class="about-banner__content__sub-title"> OUR JOURNEY </div>
        <div class="about-banner__content__title"> Introduction </div>
        <div class="about-banner__content__description">
          The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
          A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. 
        </div>
      </div>
      <div class="about-banner__video-container"></div>
    </div>
  </div>
</div>
