<div class="about-banner">
  <div class="container">
    <div class="about-banner__container">
      <div class="about-banner__content">
        <div class="about-banner__content__title"> Join Us in Shaping the Future </div>
        <div class="about-banner__content__description">
          Whether you’re an aspiring entrepreneur, an SME looking to scale, or a learner eager to explore new technologies, TNFTH is your gateway to a brighter future. Together, let’s innovate, create, and lead the world in technological transformation.
        </div>
      </div>
      <div class="about-banner__img-container">
        <img src="/assets/images/aboutUs/joinUs.jpg" alt="About Banner" />
      </div>
    </div>
  </div>
</div>
