.footer {
  background: #0D4B7A;
  padding: 100px 0;
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    gap: 45px;
    &__logo {
      &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      width: 100px;
      height: auto;
      border-radius: 4px;
    }
    &__powered-by-logo {
      &__container {
        display: flex;
        align-items: center;
        color: #fff;
      }
      width: 50px;
      height: auto;
    }
    &__menu {
      &__container {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      &__option {
        color: #fff;
        display: flex;
        align-items: center;
        font-weight: 400;
        cursor: pointer;
      }
      &__option:hover {
        opacity: 0.6;
      }
      &__active {
        font-weight: 700;
      }
    }
    &__social {
      display: flex;
      gap: 2px;
      cursor: pointer;
    }
  }
  &__social {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #fff;
    }
    &__content {
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__title {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
    &__form {
      display: flex;
      align-items: center;
    }
    &__input {
      color: #fff;
      width: 200px;
      height: 40px;
      border: 1px solid #fff;
      padding: 0 16px;
      border-radius: 4px;
      background: transparent;
    }
    &__input:focus {
      outline: none;
    }
    &__submit {
      border: none;
      background: #fff;
      border-radius: 4px;
      width: 136px;
      height: 42px;
      cursor: pointer;
      font-size: 16px;
      position: relative;
      left: -10px;
    }
  }
  @media screen and (max-width: 700px) {
    padding: 20px;
    &__container {
      flex-direction: column;
    }
    &__content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
