.footer {
  background: #fff;
  padding: 100px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    gap: 100px;
    &__logo {
      width: 86px;
      height: 44px;
      border-radius: 4px;
    }
    &__menu {
      &__container {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      &__option {
        color: #0D4B7A;
        display: flex;
        align-items: center;
        font-weight: 400;
      }
      &__active {
        font-weight: 700;
      }
    }
    &__social {
      margin-top: 20px;
      display: flex;
      gap: 24px;
    }
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__title {
      color: #0D4B7A;
      font-weight: 600;
      font-size: 30px;
      line-height: 56px;
    }
    &__form {
      display: flex;
    }
    &__input {
      color: #0D4B7A;
      width: 400px;
      height: 64px;
      border: 1px solid #0D4B7A;
      padding: 0 16px;
      border-radius: 4px;
      background: transparent;
    }
    &__input:focus {
      outline: none;
    }
    &__submit {
      border: none;
      color: #fff;
      background: #0D4B7A;
      border-radius: 4px;
      width: 136px;
      height: 64px;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
