body {
  font-family: "Poppins", serif;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #ddd !important;
}

@media screen and (max-width: 700px) {    
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
