.services-home {
  padding: 75px 0;
  background: #0D4B7A;
  &__container {
    display: grid;
    grid-template-columns: 58% 37%;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    &__title {
      font-size: 48px;
      line-height: 57px;
      font-weight: 700;
      color: #fff;
    }
    &__description-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__description {
      color: #eee;
    }
    &__info-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 0;
      padding: 20px 20px 20px 40px;
      border-radius: 8px;
      background: #eee;
    }
    &__action {
      border: none;
      background: #23C46A;
      color: #fff;
      border-radius: 50px;
      min-width: 180px;
      height: 51px;
      font-size: 16px;
      cursor: pointer;
    }
    &__action:hover {
      opacity: 0.9;
    }
  }
  &__video-container {
    background: url('/assets/images/initiatives-home.jpeg');
    background-size: cover;
    background-position: center;
    height: 384px;
    width: 476px;
    border-radius: 20px;
  }
}
