<div class="services-home">
  <div class="container">
    <div class="services-home__container">
      <div class="services-home__content">
        <div class="services-home__content__title"> {{ data.title }} </div>
        <div class="services-home__content__description"> {{ data.description }} </div>
        <button class="services-home__content__action" (click)="openModal()"> Make an Enquiry </button>
      </div>
      <div class="services-home__img-container">
        <img [src]="data.img" alt="home about" />
      </div>
    </div>
  </div>
  <app-service-enquiry-modal
    [isVisible]="isModalVisible"
    (confirm)="handleConfirm()"
    (close)="handleClose()"
  />
</div>
