<div class="services-home">
  <div class="container">
    <div class="services-home__container">
      <div class="services-home__content">
        <div class="services-home__content__title"> ARTIFICIAL INTELLIGENCE </div>
        <div class="services-home__content__description-container">
          <div class="services-home__content__description">
            The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
            A2000 Solutions Private Limited, Singapore.
          </div>
          <div class="services-home__content__description">
            The Tamil Nadu Future technology Hub (TNFTH) is an PPP model initiative led by the IT Ministry of Tamil Nadu and ICT Academy of Tamil Nadu, in partnership with
            A2000 Solutions Private Limited, Singapore. TNFTH aims to provide experience-based learning opportunities to candidates and SME’s, direct access to emerging technologies, innovation, and research. 
          </div>
        </div>
        <ul class="services-home__content__info-container">
          <li> 3-5 hours of directed learning per week </li>
          <li> 3-5 hours of directed learning per week </li>
          <li> 3-5 hours of directed learning per week </li>
          <li> 3-5 hours of directed learning per week </li>
        </ul>
        <button class="services-home__content__action"> Make an Enquiry </button>
      </div>
      <div class="services-home__video-container">
        
      </div>
    </div>
  </div>
</div>
