<div class="internship-home">
  <div class="container">
    <div class="internship-home__container">
      <div class="internship-home__content">
        <div class="internship-home__content__title"> Step into the Future with TNFTH Internships </div>
        <div class="internship-home__content__description">
          At TNFTH, we offer a transformative internship experience designed to equip students and professionals with hands-on exposure to cutting-edge technologies, real-world projects, and industry insights. Our internship program bridges the gap between academia and the industry, empowering you to build future-ready skills and expand your professional network.
        </div>
      </div>
      <div class="internship-home__video-container">
        
      </div>
    </div>
  </div>
</div>
