<div class="partners">
  <div class="container">
    <div class="partners__content">
      <div class="partners__content__title"> Partners </div>
      <div class="partners__content__description"> Our partners are the backbone of TNFTH’s success, bringing expertise, resources, and opportunities from across industries and geographies. We collaborate with world-class universities, leading corporations, and innovative startups to create a thriving ecosystem of growth and learning. Together, we’re building a network that empowers individuals to achieve their goals and drive impactful change globally. </div>
    </div>
  </div>
  <div class="partners__logo__container" (mouseover)="pause()" (mouseleave)="startInfiniteLoop()">
    <div class="partners__logo__wrapper" [style.transform]="'translateX(-' + scrollPosition + 'px)'">
      @for (img of logoUrls; track img.url) {
        <img [src]="img.url" [alt]="img.alt" class="partners__logo__img" />
      }
    </div>
  </div>
</div>
