.internship-banner {
  margin: 75px auto;
  &__header {
    font-size: 48px;
    line-height: 57px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
  }
  &__container {
    align-items: center;
    justify-content: space-between;
    background: #0D4B7A;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
  }
  &__sub-title {
    letter-spacing: 2px;
    font-weight: 600;
  }
  &__title {
    font-size: 48px;
    line-height: 57px;
    font-weight: 700;
  }
  &__description {
    color: #ddd;
  }
  &__action-container {
    display: flex;
    gap: 10px;
    margin-top: 25px;
  }
  &__action {
    border: none;
    background: #23C46A;
    color: #fff;
    border-radius: 50px;
    min-width: 180px;
    height: 51px;
    font-size: 16px;
    cursor: pointer;
  }
  &__action:hover {
    opacity: 0.9;
  }
  @media screen and (max-width: 700px) {
    margin: 25px auto;
    &__action-container {
      flex-direction: column;
    }
    &__action {
      min-width: 250px;
    }
  }
}
