<div class="internship-banner">
  <div class="container">
    <div class="internship-banner__container">
      <div class="internship-banner__title"> Apply Now </div>
      <div class="internship-banner__description">
        Take the first step toward an exciting and impactful internship experience. Fill out the form below, and our team will review your application promptly.
      </div>
      <div class="internship-banner__action-container">
        <button class="internship-banner__action" (click)="openModal('INSTITUTIONS')"> For Institutions </button>
        <button class="internship-banner__action" (click)="openModal('STUDENTS')"> For Students </button>
      </div>
    </div>
  </div>
  <app-internship-form-modal
    [isVisible]="isModalVisible"
    [modalType]="formType"
    (confirm)="handleConfirm()"
    (close)="handleClose()"
  />
</div>
